name: pos
description: "A new Flutter project."

publish_to: 'none' # Remove this line if you wish to publish to pub.dev


version: 1.0.0+1

environment:
  sdk: ^3.7.2


dependencies:
  flutter:
    sdk: flutter


  cupertino_icons: ^1.0.8
  drift: ^2.15.0
  drift_flutter: ^0.2.8
  sqlite3_flutter_libs: ^0.5.18
  path_provider: ^2.1.2
  path: ^1.9.0
  pdf: ^3.10.7
  printing: ^5.12.0
  flutter_native_splash: ^2.4.6
  csv: ^6.0.0
  permission_handler: ^11.3.0
  share_plus: ^7.2.1


dev_dependencies:
  flutter_test:
    sdk: flutter


  flutter_lints: ^5.0.0
  drift_dev: ^2.15.0
  build_runner: ^2.4.8
  flutter_launcher_icons: ^0.13.1

flutter_icons:
  android: true
  ios: false
  image_path: assets/icon.png

flutter_native_splash:
  color: "#FFFFFF"
  image: assets/splash.png
  android: true

flutter:


  uses-material-design: true

  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg


  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
